body{
  font-family:  inherit ;
  background-color: rgba(15, 23, 30, 0.9);
  color: white;
}


/* celular */
@media screen and (max-width: 575px) {
  body .titulo{ position: absolute; top: 0px; margin-left: 25%; }
body  .text{position: absolute; top: 310px; }
section .yo{position: absolute; top: 90px;}
 header .titulo2{ position: absolute; top: 400px; margin-left: 30%;}
.logos{ position: absolute; top: 50%; margin-left: 30%;}
.logos .css{position: absolute; top: 400px;}
 .logos .js{position: absolute; top: 600px; }
aside{ position: absolute; top: 200%;      }
section .yo{ margin-left: 20%;      }
aside .lumiere{  height:  20vh; width: 40vw;}
aside .buena{position: absolute; top: 128px; height:  20vh; width: 40vw; }
aside .vene{height:  20vh; width: 40vw; position: absolute; top: 260px; left:  10%;  }
aside .proyec{ left: 50%;}
aside .lu{position: absolute; top: 50px;}
aside .bu{position: absolute; top: 50px; left: 40%;}
aside .ve{position: absolute; top: 250px; left: 60%;}

}

nav{
 background-color: rgba(255,255,255,.1);
 height: 300px;
 width: 100px;
 position: fixed;
 top: 1px;
 right: 0%;
 box-shadow: 7px 13px 37px #000;

}

.gmail{
width: 55px;
margin-left: 42%;
position: absolute;
top: 1000px;

}


.ins{
width: 70px;
left: 41.5%;
position: absolute;
top: 1010px;

}


.i{

  left: 48%;
  position: absolute;
  top: 1011px;

}

.g{
  width: 70px;
  left: 48%;
  position: absolute;
  top: 950px;
}




.color{
 color: rgba(119,158,203);
}

.titulo{
  text-align: center;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
    border: solid rgba(27,249,240);

}


.text{
  font-size: 19px;


}
.text1{
  font-size: 19px;
  margin-left: 37%;

}

.text2{
  font-size: 19px;
  margin-left: 5%;

}

.text3{
  font-size: 19px;
  margin-left: 42%;

}

.titulo2{
  text-align: center;
  margin-left: 33%;
  font-size: 30px;

}




.html{
  margin-left: 45%;
  height: 150px;
  position: absolute;
  top: 210px;



}

.css{
  margin-left: 60%;
  height: 160px;
  position: absolute;
  top: 210px;


}

.js{
  margin-left: 75%;
  height: 150px;
  position: absolute;
  top: 219px;

}

.git{
  margin-left: 45%;
  height: 150px;
  position: absolute;
  top: 390px;



}

.yo{
  margin-left: 10%;
  border-radius: 100px;
  border: solid rgba(27,249,240);

}



.proyec{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.lumiere{
 width: 400px;
 height: 200px;
 opacity: 30%;
 box-shadow: 7px 13px 37px #000;


}

.lumiere:hover{
opacity: 100%;


}

.lu{
 margin-left: 13%;
 font-size: 20px;

}

.buena{
  width: 400px;
  height: 200px;
  opacity: 30%;
  margin-left: 5.5%;
  position: absolute;
  top: 630px;
  box-shadow: 7px 13px 37px #000;


}

.buena:hover{
  opacity: 100%;


}

.bu{
  margin-left: 44%;
  font-size: 20px;
  position: absolute;
  top: 86%;


}

.vene{
  width: 400px;
  height: 200px;
  opacity: 30%;
  margin-left: 40%;
  position: absolute;
  top: 625px;
  box-shadow: 7px 13px 37px #000;


}

.vene:hover{
  opacity: 100%;



}

.ve{
  margin-left: 76%;
  font-size: 20px;
  position: absolute;
  top: 86%;
}

.boton{
  position: absolute;
  top: 270px;
  right: 15%;
  opacity: 100%;
  background-color: white;



}

.si{
  position: absolute;
  top:0px;
  right: 35%;
}

.si1{
  position: absolute;
  top:60px;
  right: 15%;
}

.si2{
  position: absolute;
  top:30px;
  right: 15%;
}

.si3{
  position: absolute;
  top: 90px;
  right: 10%;


}

.hab{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

[data-content]{
  display: none;
}

.active[data-content]{
  display: block;
}

.biografia{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.biografiaa{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.naci{
margin-left: 48%;
font-size: 20px;
text-decoration: underline rgba(27,249,240);;

}


.nacii{
margin-left: 51%;
font-size: 20px;
text-decoration: underline rgba(27,249,240);;



}
