body{
  font-family:  inherit ;
  background-color: rgba(15, 23, 30, 0.9);
  color: white;
}


/* celular */
@media screen and (max-width: 575px) {
  body .titulo{ position: absolute; top: 0px; margin-left: 30%; }
body  .text{position: absolute; top: 310px; }
section .yo{position: absolute; top: 90px; }
 header .titulo2{ position: absolute; top: 400px; margin-left: 30%;}
.logos{ position: absolute; top: 50%; margin-left: 35%;}
.logos .css{position: absolute; top: 400px; }
.logos .js{position: absolute; top: 600px; }
.logos .git{position: absolute; top: 800px; }
aside{ position: absolute; top: 200%;      }
section .yo{ margin-left: 25%;      }
aside .lumiere{ position: absolute; top: 120px ;height:  20vh; width: 40vw;}
aside .buena{position: absolute; top: 120px; height:  20vh; width: 40vw;  left: 108%;}
aside .vene{height:  20vh; width: 40vw; position: absolute; top: 300px; left:  10%;  }
aside .proyec{  margin-left: 83%;}
aside .lu{position: absolute; top: 60px; left: 20%; }
aside .bu{position: absolute; top: 60px; left: 100%;}
aside .ve{position: absolute; top: 300px; left: 120%;}
.biografia{position: absolute; top: 1800px; right: 30%;}
.biografia1{position: absolute; top: 1300px; right: 30%;}
.naci{position: absolute; top: 1390px; right: 40%;}
.text1{position: absolute; top: 1430px; right: 20%;}
.nacii{position: absolute; top: 1499px; right: 48%;}
.text2{position: absolute; top: 1540px; right: 5%;}
.text3{position: absolute; top: 1900px; right: 35%;}
footer .gmail{position: absolute; top: 2000px; right: 50%;}
footer .ins{position: absolute; top: 2050px; left: 37%;}
footer .g{position: absolute; top: 2000px; left: 50%;}
footer .i{position: absolute; top: 2050px; left: 50%;}
.pequeño{display: none;}
.hab{position: absolute; top: 1300px; right: 30%;}

}

/* Tablet */

/* @media screen and (max-width: 1000px){

  section .yo{position: absolute; top: 150px; }
  section .yo {margin-left: 1%;}
  .logos .html{position: absolute; top: 200px; height: 15vh; margin-left: 40%; }
  .logos .css{position: absolute; top: 196px; height: 16vh; margin-left: 55%; }
  .logos .js{position: absolute; top: 200px; height: 15vh; margin-left: 70%; }
  .logos .git{position: absolute; top: 305px; height: 15vh; margin-left: 55.4%; }



} */

nav{
 background-color: rgba(255,255,255,.1);
 height: 300px;
 width: 100px;
 position: fixed;
 top: 1px;
 right: 0%;
 box-shadow: 7px 13px 37px #000;

}

.gmail{
width: 55px;
margin-left: 42%;
position: absolute;
top: 1090px;

}


.ins{
width: 70px;
left: 42%;
position: absolute;
top: 1150px;

}


.i{

  left: 48%;
  position: absolute;
  top: 1150px;

}

.g{
  width: 70px;
  left: 48%;
  position: absolute;
  top: 1090px;
}




.color{
 color: rgba(119,158,203);
}

.color1{
  color: rgb(14, 85, 165);
 }

.titulo{
  text-align: center;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
    border: solid rgba(27,249,240);

}


.text{
  font-size: 19px;


}
.text1{
  font-size: 19px;
  margin-left: 37%;

}

.text2{
  font-size: 19px;
  margin-left: 5%;

}

.text3{
  font-size: 19px;
  margin-left: 42%;

}

.pequeño{

margin-left: 15%;


}

.titulo2{
  text-align: center;
  margin-left: 33%;
  font-size: 30px;

}




.html{
  margin-left: 45%;
  height: 150px;
  position: absolute;
  top: 210px;



}

.css{
  margin-left: 60%;
  height: 160px;
  position: absolute;
  top: 210px;


}

.js{
  margin-left: 75%;
  height: 150px;
  position: absolute;
  top: 219px;

}

.git{
  margin-left: 45%;
  height: 150px;
  position: absolute;
  top: 390px;



}

.yo{
  margin-left: 14%;
  border-radius: 100px;
  border: solid rgba(27,249,240);
 

}





.proyec{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.lumiere{
 width: 400px;
 height: 200px;
 opacity: 30%;
 position: absolute;
 top: 700px;
 box-shadow: 7px 13px 37px #000;


}

.lumiere:hover{
opacity: 100%;


}

.lu{
 margin-left: 13%;
 font-size: 20px;
 position: absolute;
 top: 640px;
}

.buena{
  width: 400px;
  height: 200px;
  opacity: 30%;
  margin-left: 35%;
  position: absolute;
  top: 700px;
  box-shadow: 7px 13px 37px #000;


}

.buena:hover{
  opacity: 100%;


}

.bu{
  margin-left: 44%;
  font-size: 20px;
  position: absolute;
  top: 640px;


}

.vene{
  width: 400px;
  height: 200px;
  opacity: 30%;
  margin-left: 69%;
  position: absolute;
  top: 700px;
  box-shadow: 7px 13px 37px #000;


}

.vene:hover{
  opacity: 100%;



}

.ve{
  margin-left: 76%;
  font-size: 20px;
  position: absolute;
  top: 640px;
  
  
}

.boton{
  position: absolute;
  top: 270px;
  right: 15%;
  opacity: 100%;
  background-color: white;
  cursor: pointer;


}

.boton1-opaco{
  position: absolute;
  top: 270px;
  right: 15%;
  opacity: 0%;
  background-color: white;
  


}



.boton2{
  position: absolute;
  top: 250px;
  right: 15%;
  opacity: 0%;
  background-color: white;
  cursor: pointer;
  


}

.boton2-bien{
  position: absolute;
  top: 250px;
  right: 15%;
  background-color: white;
  


}



.si{
  position: absolute;
  top:0px;
  right: 35%;
  cursor: pointer;
}

.si1{
  position: absolute;
  top:60px;
  right: 15%;
  cursor: pointer;
}

.si2{
  position: absolute;
  top:30px;
  right: 15%;
  cursor: pointer;
}

.si3{
  position: absolute;
  top: 90px;
  right: 10%;
  cursor: pointer;


}

.hab{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

[data-content]{
  display: none;
}

.active[data-content]{
  display: block;
}

.biografia{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.biografia1{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.biografiaa{
  text-align: center;
  font-size: 30px;
  border: solid red;
  width: 180px;
  margin-left: 45%;
  border-radius: 8%;
  color: white;
  background-color: red;
  border: solid rgba(27,249,240);


}

.naci{
margin-left: 48%;
font-size: 20px;
text-decoration: underline rgba(27,249,240);;

}

.color2{
  color: rgb(0, 4, 255);
  
}

.nacii{
margin-left: 51%;
font-size: 20px;
text-decoration: underline rgba(27,249,240);;



}

.mostrarArriba {

  animation: mostrarArriba 1s;

}

@keyframes mostrarArriba{
  0%{
    transform: traslateY(-70px);
    100%{
      transform: traslateY(0px);
    }
  }
}

html{
  scroll-behavior: smooth;

}

::-webkit-scrollbar{
  background: #555555;
  width: 10PX;
}

::-webkit-scrollbar-thumb{
 background: rgb(0, 0, 0, .4);
 background: linear-gradient(125deg, #18181a);

}